*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
a{
  text-decoration: none;
  color: inherit;
}
body{
overflow-y:hidden;
}
body h1:first-child{
  text-align: center;
  /* color: cyan; */
}
.loginForm {

position: absolute;
top: 50%;
transition: 0.5s;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
margin: auto;
min-height: 40vh;
/* width: 70vh; */
padding: 10rem;
flex-direction: column;
justify-content: space-around;
align-items: center;
box-shadow: 5px 5px 35px blue;
background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,120,121,1) 35%, rgba(0,212,255,1) 100%);
}
.textInput {
display: flex;
flex-direction: column;
align-items: center;
}

.textInput input {
transition: 0.3s;
margin: 2rem;
font-size: large;
/* text-align: center; */
padding: 15px;
}
.textInput input:focus {
/* color: red; */
/* background-color: aqua; */
color: gray;
padding: 20px;
}
.btn{
  transition: 0.66s;
  padding: 0;
  margin-top: 1rem;
  text-decoration: none;
  border: none;
  color: white;
  background: none!important; 
}
.btn:hover{
cursor: pointer;
color: black;
padding: 20px;
border-radius: 7px;
background: white!important;
}
.loginFormbuttons{
  display: flex;
  flex-direction: column;
}
.social{
  margin-top: 20px;
}
.social ul {
  display: flex;
  list-style-type: none;
  
}
.social ul li {
  transition: 1s;
  margin-right: 20px;
}

.social ul li:first-child:hover {
  color: white;
  font-size: larger;
}
.social ul li:nth-child(2):hover {
  color: red;
  font-size: larger;
}
.social ul li:nth-child(3):hover {
  color: blue;
  font-size: larger;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.loginForm:first-child{
  color: white;
}